header {
  padding: 29px 0 33px 0;
  background-color: #fff;

  .header-top {
    @include flexbox();
    justify-content: space-between;

    &-lang {
      @include flexbox();

      &__item {
        display: block;
        line-height: 19px;
        color: #000;
        font-size: 14px;
        text-transform: uppercase;
        font-family: "Bebas", sans-serif;
        letter-spacing: 1px;
        padding: 0 4px;
        margin: 0 10px 0 0;

        &.active {
          background-color: #000;
          color: #fff;
        }
      }
    }

    &__link {
      font-family: "AkzidenzGroteskBQCondensedBold", sans-serif;
      text-transform: uppercase;
      text-decoration: underline;
      font-size: 15px;
      color: #000;
     }
  }

  .header-bottom {
    margin: -10px 0 0 0;
    @include flexbox();
    align-items: center;

    &__column {
      flex: 0 0 33.333%;
    }

    &-menu {

      &--right {
        .header-bottom-menu-list {
          margin: 0;
          @include flexbox();
          justify-content: flex-end;
          text-align: right;

          li {
            margin: 0 0 0 45px !important;

            &:first-child {
              margin: 0;
            }

            @media (max-width: $md1+px) {
              margin: 0 0 0 20px !important;            }
          }
        }
      }

      &-list {
        @include flexbox();

        li {
          margin: 0 45px 0 0;

          &:last-child {
            margin: 0;
          }
          
          @media (max-width: $md1+px) {
            margin: 0 20px 0 0;
          }
        }
      }

      &__link {
        font-family: "AkzidenzGroteskBQCondensedBold", sans-serif;
        color: #000;
        font-size: 15px;
        text-transform: uppercase;
        letter-spacing: 1.5px;
      }
    }

    .header-logo {
      display: block;
      text-align: center;

      &__text {
        display: block;
        color: #000;
        font-family: "Bebas", sans-serif;
        font-size: 10px;
        text-transform: uppercase;
        letter-spacing: 8px;
      }

      &__image {
        display: inline-block;
        margin: 13px 0 22px 0;
      }
    }
  }
}